<div class="container-fuid text-center">
  <h1>Url Statistics</h1>
</div>
<div class="container text-center">
  <h4>Longest Response Time</h4>
  <%= @relevant_payloads.maximum(:responded_in) %>
  <h4>Shortest Response Time</h4>
  <%= @relevant_payloads.minimum(:responded_in) %>
  <h4>Average Response Time</h4>
  <%= @relevant_payloads.average(:responded_in).to_i %>
</div>

<div class="container-fluid col-md-4 text-center col-md-offset-4">
  <h4>Verb Usage</h4>
  <% verbs = @relevant_payloads.group(:request_type).count.to_a %>
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>Verb</th>
      <th>Count</th>
    </tr>
  <% verbs.each do |verb, count| %>
    <tr>
      <td> <%= verb %> </td>
      <td> <%= count %> </td>
    </tr>
  <% end %>
  </table>
  <h4>Most Popular Referrers</h4>
  <% referrers = @relevant_payloads.group(:referred_by).count.to_a %>
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>Referrer</th>
      <th>Count</th>
    </tr>
  <% referrers.each do |referrer, count| %>
    <tr>
      <td> <%= referrer %> </td>
      <td> <%= count %> </td>
    </tr>
  <% end %>
  </table>
  <h4>Most Popual User Agents</h4>
  <% agents = @relevant_payloads.group(:user_agent).count.to_a %>
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th>Agent</th>
      <th>Count</th>
    </tr>
  <% ag = agents.each do |agent, count| %>
    <tr>
      <td> <%= UserAgent.parse(agent).platform %> </td>
      <td> <%= count %> </td>
    </tr>
  <% end %>
  </table>
</div>
